body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: rgb(57, 230, 18);
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: rgba(11, 237, 30, 1);
  color: #000000;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  background-color: #000;
  color: rgb(25, 240, 10);
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
}